<router-outlet></router-outlet>

<form [formGroup]='exampleForm' novalidate class="form" (ngSubmit)='save()'>
  <input formControlName='email' type="text" class="form-control" placeholder="Enter Email" />
  <input formControlName='phone' type="text" class="form-control" placeholder="Enter Phone" />

  <div formArrayName="tickets" *ngFor="let t of tickets.controls; let i = index" >
    <div [formGroupName]="i"  >
      <input formControlName='name' id="{{'name_'+i}}" type="text"  placeholder="Enter Name" />

      <small *ngIf="tickets.controls[i].get('name')?.errors  && tickets.controls[i].get('name')?.touched" class="form-text text-muted">
          El nombre es requerida
      </small>

      <input formControlName='age' id="{{'age_' + i}}" type="number" placeholder="Enter Age " />

      <small *ngIf="tickets.controls[i].get('age')?.errors && tickets.controls[i].get('age')?.touched" class="form-text text-muted">
        La edad es requerida
    </small>

    <button (click)='deleteTicket(i)' >delete</button>

    </div>
  </div>

  <button type="button" (click)='addTicket()' >Add Ticket</button>
  <button type="submit" [disabled]='exampleForm.invalid' >Submit</button>
</form>
